.MessageFooter {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MessageFooter .message-input {
    flex: 1;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    all: unset;
    border: 1px solid #efefef;
    height: 36px;
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    background: white;
    padding: 5px 10px;
    max-width: 70%;
}

.MessageFooter .icon-container {
    background: white;
    height: 45px;
    margin: 10px;
    margin-left: -34px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}
